@keyframes moveBackground {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}

body {
    background: linear-gradient(45deg, #73547e, #e1d4ea, #3a1e59);
    background-size: 400% 400%;
    animation: moveBackground 10s ease infinite;
}


body {
    font-family: "proxima-nova", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}


header {
    background-color: #73547e  !important;
    color: white;
    padding: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2em;
}

form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

input, textarea, button {
    margin: 10px 0;
    padding: 10px;
    font-size: 1em;
}

button {
    background-color: #ffffff  !important;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}


footer img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}
